"*":
  "exception-reporting":
    userId: "ed688a6d-8a26-e669-dd1f-bcb5d09b3884"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    showInvisibles: true
    fontSize: 12
    softWrap: true
  core:
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  "file-icons":
    forceShow: true
  linter: {}
  "file-types":
    eafxml: "text.xml"
  "tree-view":
    hideIgnoredNames: true
  "highlight-line": {}
  minimap:
    plugins:
      "git-diff": true
  "vim-mode": {}
  "linter-pep8":
    maxLineLength: 999
  Repl: {}
  "autocomplete-python":
    extraPaths: "$PROJECT/venv/lib/python3.4/site-packages"
  "omnisharp-atom":
    enhancedHighlighting: true
  whitespace: {}
  "atom-beautify":
    _analyticsUserId: "fe53c5da-b2a3-42fe-a373-6beff25ff167"
  "advanced-new-file": {}
  "close-tags": {}
