packages: [
  "advanced-open-file"
  "atom-jinja2"
  "atom-solarized-dark-ui"
  "autocomplete-python"
  "close-tags"
  "ex-mode"
  "file-icons"
  "file-types"
  "highlight-line"
  "linter"
  "linter-pep8"
  "minimap"
  "minimap-git-diff"
  "nucleus-dark-ui"
  "package-sync"
  "project-manager"
  "relative-numbers"
  "solarized-seti-ui"
  "vim-mode"
]
