packages: [
  "advanced-open-file"
  "atom-jinja2"
  "autocomplete-python"
  "ex-mode"
  "file-icons"
  "file-types"
  "highlight-line"
  "highlight-selected"
  "language-powershell"
  "language-vbscript"
  "linter"
  "linter-pep8"
  "MagicPython"
  "minimap"
  "minimap-git-diff"
  "open-recent"
  "package-sync"
  "project-manager"
  "relative-numbers"
  "set-syntax"
  "solarized-dark-ui"
  "sort-lines"
  "vim-mode"
]
